*::selection {
    color:#1d52a3;
    background-color: #eaff8d;
}

h1::selection, h2::selection {
    color:#ffffff;
    background-color: #eb587c;
}

body {
    background-color: white;
    font-family: 'Montserrat', sans-serif;
}

.header-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: start;
    align-items: center;
    background-color: #307cc2;
    background-image: linear-gradient(180deg, rgba(0, 36, 70, 0.65) 0%, rgba(90, 169, 202,0) 71%, rgba(126,223,255,0.5) 100%), url("../images/bg-grid-blue.png");
    background-position: top center;
    background-repeat: repeat repeat;
    box-shadow: inset 0px -1px 0px 0px rgba(0, 75, 139, 0.8), inset 0px -2px 0px 0px rgba(172, 233, 255, 0.77);
    width: 100%;
    min-width: 1200px;
    min-height: 300px;
}

.header-block {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    box-sizing: border-box;
    padding: 36px;
    max-width: 1200px;
    min-width: 1200px;
    min-height: 200px;
}

.nav-block {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    margin-bottom: 40px;
    background-color: rgba(51, 255, 109, 0.37);
}

ul.menu-block {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-content: center;
    padding: 0px;
    margin: 0px;
    width: 100%;
    min-height: 60px;    
}

li.menu-item {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
}

li.menu-item > a {
    display: flex;
    align-items: center;
    padding: 0px 24px;
    font-size: 1.25rem;
    color: #ffffff;
    text-decoration: none;
}

.person-block {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    box-sizing: border-box;
    width: 100%;
    padding: 24px 24px;
    min-height: 200px;
    background-color: rgba(0, 0, 0, 0.1);
}

figure.person-photo {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin: 0px;
    min-width: 390px;
    height: 390px;
    background-color: #ffffff;
    box-shadow: 1px 1px 2px rgba(0, 28, 73, 0.329);
}

aside.person-info {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
    max-width: 600px;
    min-width: 300px;
    min-height: 300px;
}

h1.person-name {
    display: flex;
    margin: 8px 0px 0px 0px;
    color: #ffffff;
    font-size: 3rem;
    text-transform: uppercase;
}

h2.person-position {
    display: flex;
    margin: 8px 0px 16px 0px;
    color: #5bf2c2;
    font-size: 2.4rem;
    font-weight: 600;
    letter-spacing: 0.2rem;
}

.person-info-divider {
    width: 90%;
    height: 6px;
    background-color: #4fa3f2;
}

ul.person-contacts {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-top: 40px;
}

li.person-contact {
    display: flex;
    list-style: none;
    padding-left: 56px;
    line-height: 3rem;
}

li.person-contact, li.person-contact > a {
    font-size: 1.5rem;
    color: #ffffff;
    text-decoration: none;
}

li.place {background: url("../images/icon-place.png") left center no-repeat transparent;}
li.phone {background: url("../images/icon-phone.png") left center no-repeat transparent;}
li.email {background: url("../images/icon-email.png") left center no-repeat transparent;}
li.github {background: url("../images/icon-github.png") left center no-repeat transparent;}

.header-main-divider {
    display: block;
    background-color: transparent;
    background-image: linear-gradient(0deg, rgba(90, 90, 90, .0) 0%, rgba(90, 90, 90,0.25) 70%, rgba(10, 10, 10, .35) 100%);
    min-height: 40px;
    width: 100%;
}

.main-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    background-color: #ffffff;
    background-image: url("../images/bg-grid-white.png");
    background-position: top center;
    background-repeat: repeat repeat;
    width: 100%;
    min-width: 1200px;
    min-height: 300px;
}

main {
    display: flex;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    max-width: 1200px;
    min-width: 1200px;
}

main a {
    color:#3694eb;
    text-decoration: underline dotted;
}

section {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    width: 100%;
    margin: 10px 0px;
}

.section-title-block {
    display: flex;
    box-sizing: border-box;
    min-width: 100%;
}

h2.section-title {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-self: flex-start;
    min-width: auto;
    max-width: 100%;    
    padding-left: 80px;
    color: #11d199;
    font-size: 2.3rem;
    text-transform: uppercase;
    border-bottom: 7px solid #3694eb;
}

.section-description {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    min-width: 800px;
    max-width: 800px;
    margin-bottom: 40px;
    font-size: 1.4rem;
    line-height: 1.3;
    color: #626262;
}

.label-out {
    display: block;
    margin: 12px 6px 36px 6px;
    padding: 16px 16px;
    border-radius: 16px;  
    font-size: 1.3rem;  
}

.label-in {
    display: block;
    margin: 12px 36px 24px 36px;
    padding: 16px 16px;
    border-radius: 8px;
    font-size: 1.2rem;
}

.bg-red {background-color: #ff81a624;}
.bg-blue {background-color: #76c6ff24; font-size: 1.2rem;}
.bg-darkblue {background-color: #0b71b9ad; color: #ffffff; font-size: 1.2rem;}
.bg-darkred {background-color: #c92052a3; color: #ffffff;}

pre.bg-darkred > code.hljs {
    background: #bf2a4cb5;
    border-radius: 8px;
}

pre.bg-darkblue > code.hljs {
    background: #04558fa6;
    border-radius: 8px;
}

.center {text-align: center;}

.footer-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    background-color: #307cc2;
    background-image: linear-gradient(0deg, rgba(0, 36, 70, 0.25) 0%, rgba(0, 36, 70, 0.55) 100%), url("../images/bg-grid-blue.png");
    background-position: center center;
    background-repeat: repeat repeat;
    box-shadow: inset 0px 1px 0px 0px rgba(0, 75, 139, 0.8), inset 0px 2px 0px 0px rgba(172, 233, 255, 0.77);
    width: 100%;
    min-width: 1200px;    
    min-height: 100px;
}

footer.footer-block {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    min-height: 124px;
    min-width: 1200px;
    max-width: 1200px;
}

footer.footer-block > div {
    display: flex;
    justify-content: center;
    min-width: 240px;
}

.footer-github {
    display: flex;
}

div.person-contact {
    display: flex;
    padding-left: 56px;
    line-height: 3rem;
}

div.person-contact > a {
    font-size: 1.5rem;
    color: #ffffff;
    text-decoration: none;
}

div.github {background: url("../images/icon-github.png") left center no-repeat transparent;}

.footer-copy {
    font-size: 1.4rem;
    color: #ffffff;
}

.footer-rss {
    display: flex;
}