body {
    background-color: white;
}

.head-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    background-color: #307cc2;
    background-image: linear-gradient(180deg, rgba(0, 36, 70, 0.65) 0%, rgba(90, 169, 202,0) 71%, rgba(126,223,255,0.5) 100%), url("../images/bg-grid-blue.png");
    background-position: top center;
    background-repeat: repeat repeat;
    box-shadow: inset 0px -1px 0px 0px rgba(0, 75, 139, 0.8), inset 0px -2px 0px 0px rgba(172, 233, 255, 0.77);
    width: 100%;
    min-height: 300px;
}

.header-block {
    background-color: rgba(190, 240, 84, 0.18);
    max-width: 1200px;
    min-width: 1200px;
    min-height: 300px;
}